@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Condensed&display=swap');


/*https://coolors.co/palette/ea698b-d55d92-c05299-ac46a1-973aa8-822faf-6d23b6-6411ad-571089-47126b*/
:root{
  /*
  --main-bg-color: rgb(42, 3, 68, 0.97);
  --main-font-bar-color: rgb(200, 30, 210); */
  --main-font-title-color:  rgba(180, 67, 67, 0.902);
  --main-font-text-color: rgb(255, 232, 170);
}

*{
  margin: 0.2%;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;    
  background-color: rgb(27, 27, 27);
}

a{
  text-decoration: none;
  display: inline-block;
}

body {
  max-width: 100%;
  background-color:var(--main-bg-color);
  background-blend-mode: luminosity;
}

.navbar {
  border-radius: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.naveditttv{
  color: rgb(114, 0, 202);
  text-decoration: none;
  padding-left: 1em;
}

.navedit{
  color: var(--main-font-title-color);
  text-decoration: none;
  padding-left: 1em;
}

.nav-item{
  font-size: 1.5em;
  color: var(--main-font-title-color);
}

.nav-link {
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
}

li{
  list-style-type: none;
}

.Links{
  font-size: 1em;
} 

.links {
  text-decoration: none;
}

.titulo{
  display: flex;
  color: var(--main-font-title-color);
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
  justify-content: center;
}
.texto {
  color: var(--main-font-text-color);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
}

section div {
  display: flex;
  justify-content: center;
}

.imagen {
  border-radius: 50%;
  width: 20em;
  height: 20em;
  object-fit: cover;
}

hr {
  padding: 1px 5px 1px 5px;
}

.hr {
  color: white;
}

@media (max-width: 680px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .media {
    width: 5em;
  }
  .mediatext {
    width: 1.5em;
  }
}